@charset "UTF-8";

/* 
   em html é id= em CSS é # ( só pode um elemento)
   em html é class = em CSS é . ( pode varios elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    color: rgb(101, 101, 234);
    background: rgba(5, 40, 53, 0.919);
}

h1{
    color: rgb(70, 129, 109);
}

h2{
    color: rgb(41, 200, 107);
}

.basico{
    color: black;
}
.intermediario{
    color: red;
}

.avançado{
    color: blue;
}