@charset "UTF-8";
body{

            background-color: rgb(11, 242, 146);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(174, 128, 68);
            background-color: rgb(199, 226, 25);
        }
        h2{
            color: rgb(173, 28, 134);
        }
        p{
            text-align: justify;
        }